.globalwidth {
  width: 980px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.body--events{
  background-color: white;
}
.backdrop__fullscreen{
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  // margin-bottom: 100px;
  // margin-bottom: 50px;
}
.elementCenteredAllWays{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  // background-color: green;
  font-size: 8rem;
  font-family: "Montserrat", Helvetica, Arial;
  font-weight: 700;
  color: white;
}
@media(max-width: 768px){
  .elementCenteredAllWays{
    font-size: 5.0rem;
  }
}


// ********* EVENTS ***********//

.events{
  width:95%;
  background-color: white;
  margin: 0 auto;
  font-size: 1.6rem;
}
@media(max-width: 800px){
  .events {
    width: 95%;
  }
}
.row{
  margin-bottom: 30px;
  // height: 400px;
}
