.internal-body{
  background-color: white;
}


.inter--container{
  line-height: 1.6;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.inter-showcase-container{
  height: 231px;
  background-color: blue;
  position: relative;
}
.inter-showcase{
  position: absolute;
  bottom: 50px;
  left: 30px;
}
.inter-showcase--h1{

  font-size: 4.0rem;
}

.inter-page-nav-container{
  background-color: grey;
  // height: 32px;
}

.page-nav{
  // background-color: grey;
  // position: relative;
}
.page-nav--list{
  display: inline-block;
  padding: 20px 0px;
}
.page-nav-link{
  font-size: 2rem;
  text-decoration: none;
  padding-right: 30px;
  color: white;
}

.main{
  background-color: white;
  clear: both;
  clear: both;
  float: left;
  width: 66.66666%;
}
.info-container{
  background-color: white;
  padding: 50px 0;
  position: relative;
}
.info{


}
.info--h1{
  color: black;
  font-size: 3.8rem;

}


.row-container{
  color: black;

}
.row{

}
.row--content{

}
.row--content--h3{
  text-transform: uppercase;
  margin-bottom: 12px;
}
.row--content--p{
  margin: 0 0 12.5px;
}





///////// SIDE NAV ////////////////



.side-nav{
  position: relative;
  top: 50px;
  right: 50px;
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  background: #fff;
  width: 33.33333333%;
  float: left;
}
.side-nav:hover {
box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.35);
}
.side-nav--container{
  padding: 25px 18px;
}
.side-nav--content{

}
.side-nav--menu{

}
.side-nav--menu-item{
  border-bottom: 1px solid #ebebeb;
  padding: 5px 0px;
  font-size: 1.8rem;
}


.shadow-box {
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}
