.box{
  //width:33.3%;
  //border: 1px red solid;
  background-color: white;
  height: 246px;
  color: black;
  padding: 20px 10px;
  overflow: hidden;
}
.box__dark{
  @extend .box; //take on .box styles //
  //background-color: grey;

}
.box--title{
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.17;
  text-align: left;
  color: #192026;
  margin-bottom: 8px;
}
.box--subtitle{
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.box--description{
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.box--img{

}
.img-background_contain{

  height: 250px;
  width: 100%;
  background: no-repeat center center;
  background-size: contain;
  background: url("../img/gerry1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

.b-1{
  width:15%;
  float: left;
}
.b-2{
  width:30%;
  float: left;
}
.b-3{
  width:55%;
  float: left;
  padding: 40px 25px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.date-styles{
  opacity: 0.3;
  font-size: 46px;
  font-weight: bold;
  line-height: 1.11;
  //text-align: left;
  //color: #90bdca;
  text-transform: uppercase;
}
.object-fit_fill{
  //object-fit: fill;
  // width: 59%;
  // display: block;
  // margin: 10px auto;
  max-width: 100%;
}

@media(max-width: 768px){
  .b-1, .b-2, .b-3{
    width:100%;
    float: none;
  }
  .box{
    height: inherit;
    padding: 0px 10px;

  }
  .b-3{
    padding: 20px 25px;
  }
  .box--title{
    width: 60%;
  }
  .box--subtitle{
    margin-bottom: 6%;
  }
  .box--img-2{
    background-color: white;
  }




   // this is made to be in a div it  ***
   // example
   // <div class="b-2 box__dark box--img">
   //   <div class="img-background_contain"></div>
   // </div>
  .object-fit_fill{
    //object-fit: fill;
    width: 70%;
    display: block;
    margin: 10px auto;
  }
}
